<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ProjectFilter</filter-name>
        <filter-class>controller.ProjectFilter</filter-class>
    </filter>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPage.jsp</location>
    </error-page>
    <!--        <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>controller.admin.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin</url-pattern>
    </filter-mapping>   
    <filter>
        <filter-name>BoarderFilter</filter-name>
        <filter-class>controller.boarder.BoarderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BoarderFilter</filter-name>
        <url-pattern></url-pattern>
    </filter-mapping>-->
    <filter-mapping>
        <filter-name>ProjectFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoarderRoomServlet</servlet-name>
        <servlet-class>controller.boarder.BoarderRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdminServlet</servlet-name>
        <servlet-class>controller.admin.HomeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeBoarderServlet</servlet-name>
        <servlet-class>controller.boarder.HomeBoarderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeStaffServlet</servlet-name>
        <servlet-class>controller.staff.HomeStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDomAdminServlet</servlet-name>
        <servlet-class>controller.admin.ViewRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSevlet</servlet-name>
        <servlet-class>controller.admin.ViewUserSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAccountServlet</servlet-name>
        <servlet-class>controller.CheckAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordSevrvlet</servlet-name>
        <servlet-class>controller.ForgotPasswordSevrvlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAuthorizeServlet</servlet-name>
        <servlet-class>controller.admin.ViewAuthorizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDomServlet</servlet-name>
        <servlet-class>controller.admin.ViewDomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoarderNoticeServlet</servlet-name>
        <servlet-class>controller.boarder.BoarderNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookABedServlet</servlet-name>
        <servlet-class>controller.boarder.BookABedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.boarder.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoarderFeedback</servlet-name>
        <servlet-class>controller.boarder.BoarderFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoarderChangePasswordServlet</servlet-name>
        <servlet-class>controller.boarder.BoarderChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedback</servlet-name>
        <servlet-class>controller.admin.ViewFeedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoarderRoomServlet</servlet-name>
        <url-pattern>/boarder/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdminServlet</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeBoarderServlet</servlet-name>
        <url-pattern>/boarder/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeStaffServlet</servlet-name>
        <url-pattern>/staff/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDomAdminServlet</servlet-name>
        <url-pattern>/admin/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSevlet</servlet-name>
        <url-pattern>/admin/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAccountServlet</servlet-name>
        <url-pattern>/checkaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordSevrvlet</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAuthorizeServlet</servlet-name>
        <url-pattern>/admin/authorize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDomServlet</servlet-name>
        <url-pattern>/admin/dom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoarderNoticeServlet</servlet-name>
        <url-pattern>/boarder/notice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookABedServlet</servlet-name>
        <url-pattern>/boarder/bookbed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/boarder/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoarderFeedback</servlet-name>
        <url-pattern>/boarder/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoarderChangePasswordServlet</servlet-name>
        <url-pattern>/boarder/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedback</servlet-name>
        <url-pattern>/admin/feedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
