/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Jan-2022, 19:58:47
    Author     : lenovo_thinkpad
*/
.gradient-custom-2 {
    background-color: #ccccff;
}
.page-field{
    text-align: center;
    width: 85px;
    margin: 10px;
    border: 1px dotted black;
    border-radius: 5px;
}
.btn-field-col{
    margin-left: 7%;
    width: 100%;
    padding: 20px;
    color: #394786;
}
.left{
    float: left;
}
.right{
    float: right;
}
.ecol-center{
    margin-top: 15px;
}
.img-logo{
}
.map table,tr{
    border: 2px solid black;
}
.field-map table,tr{
    border: 0px solid black;
}
.map td{
    width: 100px;
    height: 100px;
}
.btn-block{
    display: inline;
}
.map-0{
    background-color: #FFFFFF;
}
.map-1{
    background-color: #80FFFF;
}
.map-2{
    background-color: #00FFFF;
}
.map-3{
    color: #FFFFFF;
    background-color: #00C8FF;
}
.map-4{
    background-color: #0080FF;
}
.map-5{
    background-color: #0000FF;
}
.map-6{
    background-color: #000080;
}
.map-7{
    background-color: #000000;
}
.menu-left{
    background-color: #ccccff;
}

