/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Jan-2022, 19:58:47
    Author     : lenovo_thinkpad
*/
.gradient-custom-2 {
    background: linear-gradient(to right, #394786, #00ffff, #268FC9, #00ccff);
}

.btn-field-col{
    margin-left: 7%;
    width: 180%;
    padding: 20px;
    color: #394786;
}
.pushin{
    background-color: #00ccff;
    border: 2px solid #00ffff;
}
.left{
    float: left;
}
.right{
    float: right;
}
.ecol-center{
    margin-top: 15px;
}

